.clubName {
  color: #000 !important;
  font-family: "Montserrat";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.4%;
}

.usernameAndTime {
  display: flex;
  color: #000;
  font-family: "Montserrat";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 136.4%;
  align-items: center;
}

.usernameAndTime p {
  color: #000 !important;
  font-family: "Montserrat";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 136.4%;
}

.dot {
  color: #000;
  font-family: "Montserrat";
  font-size: 3.0625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 136.4%;
}
