.headerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.h1 {
  color: #028a17;
  font-family: "Jacques Francois", serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.h1Section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section:nth-child(2) h2 {
  margin: 0;
  padding: 0;
  color: #046413;
  font-family: "Jacques Francois", serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  /* display: flex; */
  /* align-items: center; */
  /* gap: 4rem; */
}

.logo {
  width: 12rem;
  height: 12rem;
  margin: 0;
  padding: 0;
}

/* media query */
@media screen and (max-width: 720px) {
  .section:first-child h1 {
    font-size: 2.3rem;
  }
  .section:nth-child(2) h2 {
    font-size: 1.8rem;
  }
  .logo {
    display: none;
  }
}
