.commentsContainerAPC {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.commentsContainerAPC img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.commentsContainerAPC div:nth-of-type(2) {
  background: rgba(239, 251, 241, 0.77);
  min-width: 70%;
  padding: 0.5rem;
}

.commentsContainerAPC h3 {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: "Inter";
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
