.specificPageNav {
  background-color: #ffffff;
  display: flex;
  gap: 3rem;
  padding: 1rem 1rem 1rem 6rem;
  border-bottom: 0.125rem solid #028a17;
}

.specificPageNav button {
  font-family: "Jacques Francois", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 0.5rem;
}

.specificPageNav button:hover {
  cursor: pointer;
}

.awardName {
  display: flex;
  gap: 1rem;
}

.awardContent {
  background-color: #effbf1;
  padding: 0.5rem 3.5rem;
}

.awardContent h4 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.4%;
}

.awardContent div p {
  color: #000000;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 136.4%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.benefitContent {
  background-color: #effbf1;
  padding: 0.5rem 3.5rem;
}

.benefitContent h4 {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.4%;
}

.benefitContent div p {
  color: #000000;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 136.4%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.active {
  background-color: #046413;
  color: #ffffff;
  border: 0.0625rem solid #046413;
}

.nonActive {
  border: 0.0938rem solid rgba(4, 100, 19, 0.5);
  background: rgba(200, 250, 208, 0.39);
  color: rgba(4, 100, 19, 0.5);
}

/* media query */
@media screen and (max-width: 720px) {
  .awardContent {
    background-color: #effbf1;
    padding: 0.5rem 1.5rem;
  }
}
