.videoCard {
  display: flex;
  height: fit-content;
  padding: 4rem;
  justify-content: center;
}

.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.videoOuterDiv {
  width: 45%;
  height: 35rem;
}

.videoInfo {
  width: 40%;
  padding: 0 1rem;
}

.creatorInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.creatorInfo h3 {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.creatorInfo p {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.reelActions {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
  padding: 1rem 0;
}

.reelActions div:nth-of-type(1) {
  display: flex;
  gap: 2rem;
}

.reelActions div:nth-of-type(2) p {
  color: #046413;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.reelInfo {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.reelInfo .creatorName {
  font-weight: 700;
}

.likeCountDiv {
  display: "block";
}

.likeCountDiv img:hover {
  cursor: pointer;
}

.likeCount {
  margin: 0;
  padding: 0;
}

.dropAComment {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.4%; /* 32.736px */
}

.inputDiv {
  display: flex;
}

.inputDiv input {
  margin-right: auto;
  width: 70%;
  border-top: none;
  border-left: none;
  border-right: none;
}

.disabledButton {
  background-color: #eeeeee;
  border: none;
  width: fit-content;
  padding: 0.5rem;
}

.buttonDiv {
  border: 1px solid green;
  background-color: #046413;
  width: fit-content;
  padding: 0.5rem;
}

.buttonDiv:hover {
  cursor: pointer;
}

.commentSection {
  margin-top: 1rem;
}

.commentDiv {
  display: flex;
  align-items: normal;
}

.creatorImgDiv {
  margin-right: 0.5rem;
}

.commentInfoDiv {
  padding: 0%;
  margin: 0%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment {
  background-color: #effbf1c4;
}
.commentInfoDiv h3 {
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  color: #000000;
  text-overflow: ellipsis;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.commentInfoDiv p {
  margin: 0%;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.seeMoreDiv {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.seeMore {
  display: flex;
  width: fit-content;
  padding: 0.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background: rgba(4, 100, 19, 0.8);
  border: none;
  color: #ffffff;
}

.seeMore:hover,
.commentIcon:hover {
  cursor: pointer;
}

.downloadIcon:hover {
  cursor: pointer;
}

.errorMsg {
  color: #cd0e0e;
}

/* media query */
@media screen and (max-width: 720px) {
  .videoCard {
    display: block;
    height: fit-content;
    padding: 1rem;
    justify-content: center;
  }
  .videoOuterDiv {
    width: 100%;
    border: 3px solid black;
    height: 35rem;
  }
  .videoInfo {
    width: 100vw;
    /* padding: 0 1rem; */
  }
  .commentInfoDiv {
    padding: 0%;
    margin: 0%;
    width: 100vw;
    background-color: #effbf1c4;
    /* padding: 0.5rem; */
  }
  .inputDiv input {
    margin-right: auto;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .seeMore {
    display: flex;
    width: fit-content;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background: rgba(4, 100, 19, 0.8);
    border: none;
    color: #ffffff;
  }
  .creatorImgDiv {
    margin-right: 0;
  }
  .commentDiv {
    display: block;
    align-items: normal;
    width: 100%;
  }
}
