.parentContainer {
  position: relative;
}

.heroImg {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}

.overlay {
  background: linear-gradient(
    91deg,
    #03520f 34.11%,
    rgba(4, 100, 19, 0) 75.09%
  );
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.storyDiv {
  margin-left: 6rem;
}

.storyDiv h5 {
  color: #046413;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.aboutPrideOfNigeriaCardContainer .aboutCard img {
  width: 100%;
}

.parentContainer section:first-of-type {
  width: 40%;
  position: absolute;
  top: 3%;
  left: 6%;
  color: #ffffff;
}

.parentContainer section:first-of-type h2 {
  z-index: 3;
  position: relative;
  font-size: 4rem;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-family: "Jacques Francois";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.parentContainer section:first-of-type p {
  margin-bottom: 1.5rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1;
  font-style: normal;
  font-weight: 400;
  line-height: 136.4%;
  z-index: 3;
  position: relative;
}

.parentContainer section:first-of-type a {
  text-decoration: none;
  color: #046413;
  font-family: "Jacques Francois", serif;
  background-color: #ffffff;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  width: 27.625rem;
  height: 2.938rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  z-index: 3;
  position: relative;
}

.parentContainer h3 {
  text-align: center;
  font-size: 3rem;
  color: #046413;
  font-family: "Jacques Francois", serif;
  margin: 0%;
  padding: 1.5rem;
}

.aboutPrideOfNigeriaSection {
  display: grid;
  place-items: center;
}

.aboutPrideOfNigeriaCardContainer {
  width: 74.375rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 3.25rem;
}

.aboutPrideOfNigeriaCardContainer div {
  width: 16rem;
  box-shadow: 12px 11px 40px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.aboutPrideOfNigeriaCardContainer .aboutCard p,
.aboutPrideOfNigeriaCardContainer .aboutCard a {
  margin: 1rem;
}

.aboutPrideOfNigeriaCardContainer .aboutCard a {
  text-decoration: none;
}

.parentContainer .ourPartnersContainer {
  margin-bottom: 2rem;
}

.parentContainer .ourPartnersContainer div {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.parentContainer .ourPartnersContainer div p {
  width: 40%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #0fb41d;
}

.parentContainer .ourPartnersContainer div:nth-of-type(2) {
  height: 0.1rem;
  width: 80%;
  background-color: #0fb41d;
  margin: 4rem auto 2rem auto;
}

.firstPromotionsSection {
  background-color: #03520f;
  height: fit-content;
  padding: 1rem;
  margin: 4rem 0 2rem 0;
}

.firstPromotionsSection .firstPromotionsHeader {
  width: 30.5rem;
}

.firstPromotionsSection .subParent {
  padding: 4.438rem 7.375rem;
}

.firstPromotionsSection .firstPromotionsHeader h4 {
  color: #ffffff;
  font-family: "Jacques Francois", serif;
  font-size: 2.188rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.firstPromotionsSection .firstPromotionsHeader p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.parentContainer .cardFlexParent {
  display: flex;
  gap: 3rem;
}

.parentContainer .card {
  border: 3px solid #ffffff;
  display: flex;
  background-color: #ffffff;
  padding: 0.5rem;
}

.parentContainer .ancestry {
  color: #000000;
  font-family: "Jacques Francois", serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #d9f8de;
  padding: 0.5rem;
  width: fit-content;
}

.parentContainer .ancestryText {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.parentContainer .ancestryBtn {
  text-decoration: none;
  display: flex;
  width: 16.063rem;
  height: 2.25rem;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: #046413;
  border: none;
  color: #ffffff;
  font-family: "Jacques Francois", serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.parentContainer .ancestryBtn:hover {
  cursor: pointer;
}

.parentContainer .ourPartnersContainer div:nth-of-type(3) img {
  width: 3rem;
  height: 3rem;
}

.parentContainer .supportPrideOfNigeriaContainer {
  position: relative;
}

.parentContainer .supportPrideOfNigeriaContainer img {
  width: 100%;
  height: 100vh;
}

.parentContainer .supportPrideOfNigeriaContainer div {
  position: absolute;
  top: 30%;
  right: 4rem;
  width: 35%;
  text-align: right;
}

.parentContainer .supportPrideOfNigeriaContainer div h2 {
  color: #fff;
  text-align: right;
  font-family: "Jacques Francois", serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.parentContainer .supportPrideOfNigeriaContainer div a {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #046413;
  font-family: "Jacques Francois", serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.parentContainer .secondpromotionsContainer {
  padding: 2rem;
}

.secondpromotionsContainer .secondpromotionsPicturesContainer {
  border: 1px solid green;
  margin: 3rem;
}

.secondpromotionsContainer .secondpromotionsTitle {
  width: 30.5rem;
  height: 2.875rem;
  color: #000000;
  font-family: "Jacques Francois";
  font-size: 2.188rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.secondpromotionsContainer .secondpromotionsPTag {
  color: #000000;
  font-family: "Montserrat";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.secondpromotionsContainer .secondpromotionsFirstFlexArea {
  display: flex;
  gap: 2rem;
  margin: 3rem;
}

.secondpromotionsContainer .secondpromotionsCard {
  position: relative;
  width: 100%;
}

.secondpromotionsContainer .secondpromotionsCardImg {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.77) 16.53%,
    rgba(0, 0, 0, 0) 92.36%
  );
  width: 100%;
}

.secondpromotionsContainer .secondpromotionsContentPTag {
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.secondpromotionsContainer .secondpromotionsContentBtn {
  display: flex;
  width: 16.5rem;
  height: 2rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border: none;
  color: #000;
  font-family: "Jacques Francois", serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.secondpromotionsContainer .secondpromotionsContentBtnDiv {
  display: flex;
  justify-content: center;
}

.secondpromotionsContainer .secondpromotionsContent {
  position: absolute;
}

/* last div */
.whiteSpace {
  background-color: #ffffff;
  height: 12rem;
}

/* winnersHomeDiv */
.winnersHomeDiv {
  background: linear-gradient(
    180deg,
    rgba(4, 100, 19, 0.04) -3.37%,
    rgba(4, 100, 19, 0.19) 100%
  );
  margin: 6rem auto 0 auto;
}

.exploreNewDevelopmentSection h4 {
  color: #000000;
  font-family: "Jacques Francois", serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.exploreNewDevelopmentSection .subHeading {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exploreNewDevelopmentCardContainer {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  box-sizing: border-box;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}

.contentForExploreNewSection {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exploreNewDevelopmentCard {
  background: rgba(217, 248, 222, 0.5);
  padding: 9px 8.5px 8px 9.5px;
  position: relative;
  width: 22%;
}

.exploreNewDevelopmentSection img {
  width: 100%;
  min-height: 12rem;
}

.exploreNewDevelopmentCardExploreBtn {
  display: flex;
  width: 100%;
  height: 2.5rem;
  /* padding: 0.4rem; */
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  background-color: #046413;
  border: none;
  color: #ffffff;
  font-family: "Jacques Francois";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}

.exploreNewDevelopmentCardExploreBtn:hover {
  cursor: pointer;
}

.ancestryFamilyTree {
  background-color: #d9f8de;
  width: fit-content;
  color: #000000;
  font-family: "Jacques Francois", serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 45%;
  padding: 0.5rem;
}

.exploreNewDevelopmentWidthController {
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem;
}

.secondPromotionsSection {
  margin: 6rem 0;
}

.groupsRecommendation h4 {
  color: #000000;
  font-family: "Montserrat";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 4.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.exploreNewDevelopmentWidthController .seeMoreDiv {
  display: flex;
  justify-content: flex-end;
}

.exploreNewDevelopmentWidthController .seeMoreDiv a {
  text-decoration: none;
  font-family: "Jacques Francois", serif;
  font-weight: 600;
  padding: 1rem;
}

.displayStatsSection {
  background-color: #03520f;
}

/* media query */
@media screen and (max-width: 720px) {
  .heroImg {
    height: 50vh;
  }
  .overlay {
    height: 50vh;
  }
  .parentContainer section:first-of-type {
    width: 70%;
    top: 2%;
    left: 3%;
  }
  .parentContainer section:first-of-type h2 {
    z-index: 3;
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #ffffff;
    font-family: "Jacques Francois";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    top: -240px;
  }

  .parentContainer section:first-of-type p {
    margin-bottom: 1.5rem;
    top: -230px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1;
    font-style: normal;
    font-weight: 400;
    line-height: 136.4%;
    z-index: 3;
    position: relative;
  }
  .parentContainer section:first-of-type a {
    width: 16.625rem;
    height: 1.938rem;
    padding: 0;
    font-size: 0.7rem;
    top: -230px;
  }
  .aboutPrideOfNigeriaSection {
    display: block;
  }
  .parentContainer h3 {
    font-size: 1.5rem;
  }
  .aboutPrideOfNigeriaCardContainer {
    width: 100vw;
    display: grid;
  }
  .exploreNewDevelopmentCardContainer {
    display: block;
    margin: 1rem auto;
  }
  .exploreNewDevelopmentCard {
    background: rgba(217, 248, 222, 0.5);
    padding: 9px 8.5px 8px 9.5px;
    position: relative;
    width: 90%;
    margin: 1rem auto;
  }
  .firstPromotionsSection {
    /* background-color: #03520f;
    height: fit-content; */
    padding: 0rem;
    /* margin: 4rem 0 2rem 0; */
  }

  .firstPromotionsSection .firstPromotionsHeader {
    width: 30.5rem;
  }

  .firstPromotionsSection .subParent {
    padding: 2rem 0;
  }

  .firstPromotionsSection .firstPromotionsHeader h4 {
    color: #ffffff;
    font-family: "Jacques Francois", serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  .firstPromotionsSection .firstPromotionsHeader p {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .parentContainer .cardFlexParent {
    display: block;
  }

  .parentContainer .ancestryBtn:hover {
    cursor: pointer;
  }
}

/* our partners media query */
@media screen and (max-width: 720px) {
  .parentContainer .ourPartnersContainer {
    margin-bottom: 2rem;
  }

  .parentContainer .ourPartnersContainer div {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .parentContainer .ourPartnersContainer div p {
    width: 80%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #0fb41d;
  }

  .parentContainer .ourPartnersContainer div:nth-of-type(2) {
    height: 0.1rem;
    width: 95%;
    background-color: #0fb41d;
    margin: 4rem auto 2rem auto;
  }

  .parentContainer .ourPartnersContainer div:nth-of-type(3) img {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* support pride of nigeria section */
@media screen and (max-width: 720px) {
  .parentContainer .supportPrideOfNigeriaContainer div {
    position: absolute;
    top: 30%;
    right: 4rem;
    width: 75%;
    text-align: right;
  }

  .parentContainer .supportPrideOfNigeriaContainer div h2 {
    color: #ffffff;
    text-align: right;
    font-family: "Jacques Francois", serif;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .parentContainer .supportPrideOfNigeriaContainer div a {
    text-decoration: none;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #046413;
    font-family: "Jacques Francois", serif;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  .storyDiv {
    margin-left: 0;
    padding: 0 0 0 0.5rem;
  }

  .storyDiv h5 {
    color: #046413;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .winnersHomeDiv {
    background: linear-gradient(
      180deg,
      rgba(4, 100, 19, 0.04) -3.37%,
      rgba(4, 100, 19, 0.19) 100%
    );
    margin: 6rem auto 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 720px) {
  .parentContainer .card {
    display: flex;
    background-color: #ffffff;
    padding: 0.5rem;
    flex-direction: column-reverse;
  }

  .parentContainer .card img {
    width: 99%;
    margin: 0 auto;
    height: 12rem;
  }

  .parentContainer .ourPartnersContainer {
    margin-bottom: 2rem;
  }

  .parentContainer .ourPartnersContainer div {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  .parentContainer .ourPartnersContainer div:nth-of-type(3) {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 720px) {
  .groupsRecommendation h4 {
    color: #000000;
    font-family: "Montserrat";
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0.5rem 0 0 0.5rem;
    padding-bottom: 0;
  }
}
