.parentReelsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 90%;
  margin: 3rem auto;
  /* gap: 1.8rem; */
}

.link {
  width: 25%;
  margin-bottom: 1%;
  background-color: #ebfaed;
  height: fit-content;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

.shortVideosVideo {
  width: 100%;
  height: 28rem;
}

.playIcon {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 40%;
}

.likesAndViewsDetails {
  display: flex;
  /* padding: 0 1.7rem; */
  position: absolute;
  width: 70%;
  top: 2rem;
  left: 15%;
  color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.likesAndViewsDetails p:nth-of-type(1) {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.shortVideosPage .createVideo {
  display: flex;
  justify-content: flex-end;
  padding: 3rem;
  height: 5rem;
}

.createVideo button {
  padding: 1rem 3rem;
  text-decoration: none;
  background-color: #046413;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 136.4%;
  border: none;
  border-radius: 0.625rem;
}

.createVideo button:hover {
  cursor: pointer;
}

.createVideo p {
  color: #cb2121;
  margin: 1rem 0 0 0;
}

/* media query */
@media screen and (max-width: 720px) {
  .parentReelsContainer {
    display: block;
    /*flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%; */
    margin: 3rem auto;
    /* gap: 1.8rem; */
  }
}
