.clubPostForm {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto;
}

.clubPostForm h4 {
  text-align: center;
}

.clubPostForm .buttonsArea {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 70%;
  margin: 2rem auto 5rem auto;
}

.buttonsArea input {
  width: 100%;
  height: 1.5rem;
}

.buttonsArea .submitBtn {
  width: 11.6875rem;
  height: 2.25rem;
  background-color: #028a17;
  border: none;
  color: #f8f8f8;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex-grow: 1;
}

.buttonsArea .submitBtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .clubPostForm {
    width: 100%;
  }
  .clubPostForm textarea {
    border: 0.0625rem solid #028a17;
    resize: none;
    width: 100%;
    height: 3.0625rem;
    flex-shrink: 0;
    margin-top: 1rem;
  }
  .clubPostForm .buttonsArea {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
  }
}
