.footer {
  position: relative;
}

.firstSection {
  display: flex;
  padding: 5rem;
}

.firstSection div:first-of-type {
  margin-right: auto;
}

.socialMediaDiv {
  display: flex;
  gap: 1rem;
}

.logoDiv {
  margin: 0 0 1rem 0;
  padding: 0;
}

.companyLogo {
  width: 14rem;
  height: 3rem;
}

.socialMediaIcon {
  width: 2rem;
  height: 2rem;
}

.newsletterDiv {
  color: #000;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.newsletterDiv span {
  color: #000000;
  font-family: "Jacques Francois", serif;
  font-size: 1.45rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.newsletterInputDiv {
  position: relative;
}

.newsletterBtn {
  position: absolute;
  background-color: #046413;
  right: 1%;
  bottom: 14%;
  border: none;
  padding: 0.3rem;
}

.newsletterBtn:hover {
  cursor: pointer;
}

.newsletterInput {
  width: 29rem;
  height: 2.75rem;
}

.linksContainer {
  display: flex;
  color: #ffffff;
  justify-content: space-evenly;
}

.linksContainer div ul li {
  z-index: 1;
}

.ellipse {
  position: absolute;
  right: 0%;
  bottom: 0;
}

.ellipseTwo {
  position: absolute;
  right: 20%;
  bottom: 5%;
}

.ellipseThree {
  position: absolute;
  right: 1%;
  bottom: 45%;
}

.ellipseFour {
  position: absolute;
  left: 0;
  bottom: 15%;
  opacity: 0.5;
}

.ellipseFive {
  position: absolute;
  left: 20%;
  bottom: 40%;
}

.ellipseSix {
  position: absolute;
  left: 0.5%;
  top: 2%;
}

@media screen and (max-width: 720px) {
  .firstSection {
    display: block;
  }
  .newsletterDiv {
    color: #000;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  .newsletterDiv span {
    color: #000000;
    font-family: "Jacques Francois", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .newsletterInput {
    width: 100%;
    height: 2.75rem;
  }
  .linksContainer {
    display: block;
    color: #ffffff;
    justify-content: space-evenly;
  }
}
