.container {
  width: fit-content;
  display: flex;
  gap: 1rem;
}

.story {
  height: fit-content;
  width: 14rem;
}

.story video {
  width: 100%;
}

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .story {
    width: 100%;
  }
}
