.container {
  display: flex;
  column-gap: 1rem;
}

.story {
  height: fit-content;
  text-align: center;
  text-decoration: none;
}

.container img {
  width: 9rem;
  height: 9rem;
}

.container p {
  color: #333333;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container .realImg {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    align-items: flex-start;
  }
  .container img {
    width: 4rem;
    height: 4rem;
  }
  .container .realImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}
