.container {
  width: 15rem;
}

.container img {
  width: 100%;
  height: 20rem;
}

.container button {
  background-color: #028a17;
  border: none;
  width: 100%;
  height: 3rem;
  color: #ffffff;
  margin-top: 0.5rem;
}

.container button:hover {
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}
